<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>AngularJS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="css/bootstrap.min.css"  rel="stylesheet">
        <link rel="icon" type="image/ico" href="https://erif.pl/wp-content/themes/erif/images/favicon.ico" sizes="16x16">
    </head>
    <body ng-app="app" ng-controller="AppController">
        <div class="container">
            <ul class="nav nav-pills">
                <li role="presentation" ng-repeat="tab in tabs" ng-class="{'active': isActive(tab)}"><a href="#!/{{tab.path}}">{{tab.label}}</a></li>
            </ul>
            <h1>AngularJS</h1>
            <div class="panel panel-default">
                <div class="panel-body"  ng-view></div>
            </div>
        </div>
        <script src="angular/angular.min.js"></script>
        <script src="angular/angular-loader.min.js"></script>
        <script src="angular/angular-animate.min.js"></script>
        <script src="angular/angular-cookies.min.js"></script>
        <script src="angular/angular-locale_pl.js"></script>
        <script src="angular/angular-message-format.min.js"></script>
        <script src="angular/angular-messages.min.js"></script>
        <script src="angular/angular-resource.min.js"></script>
        <script src="angular/angular-route.min.js"></script>
        
        <script src="js/app.js"></script>
        <script src="js/directive.js"></script>
        <script src="js/filter.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/ext-controller.js"></script>
        <script src="js/listeners-controller.js"></script>
    </body>
</html>
