<form>
    <div class="form-group">
      <label>Imię</label>
      <input type="text" class="form-control" placeholder="Imię" ng-model="model.firstName" />
    </div>
    <div class="form-group">
      <label>Nazwisko</label>
      <input type="text" class="form-control" placeholder="Nazwisko" ng-model="model.lastName" />
    </div>
</form>
<div>Witaj {{model.firstName}} {{model.lastName}}</div>