<div class="form-group" ng-class="{'has-success': successFlag}">
    <label class="control-label" for="emailInput">Email address</label>
    <input type="text" ng-model="input" class="form-control" id="emailInput" placeholder="Email">
</div>