<div ng-repeat="e in [{name:'Magda', age: 23}, {name:'Anna', age: 21}]" ng-include="'template-name'"></div>
<script type="text/ng-template" id="template-name">
    {{e.name}} <span class="badge">{{e.age}}</span>
</script>